<header class="header">
    <div class="header-left">
      <img src="http://localhost:4200/assets/logo.png" alt="Logo" class="logo" />
    </div>
    <div class="header-center">
      <input type="text" placeholder="¿Qué estás buscando?" class="search-bar" />
    </div>
    <div class="header-right">
      <button class="button location">
        <span>Ubicación</span>
        <i class="icon-location"></i>
      </button>
      <button class="button login">Iniciar sesión</button>
      <button class="button cart">
        <i class="icon-cart"></i>
        <span class="cart-count">3</span>
      </button>
    </div>
  </header>